In [1]:
import pandas as pd
from math import log2

In [3]:
df = pd.read_csv("Lipstick.csv")
df.head()

   Id    Age  Income  Gender MaritalStatus Buys
0   1    <21    High    Male        Single   No
1   2    <21    High    Male       Married   No
2   3  21-35    High    Male        Single  Yes
3   4    >35  Medium    Male        Single  Yes
4   5    >35     Low  Female        Single  Yes

In [4]:
df.drop("Id", axis=1, inplace=True)
target = "Buys"
attrs = [c for c in df.columns if c!= target]

In [7]:
def entropy(counts):
    total = sum(counts)
    return -(sum((c/total)*log2(c/total)for c in counts if c>0))

In [14]:
class_counts = df[target].value_counts()
parent = entropy(class_counts.values)

n = len(df)
info_gain = {}
for a in attrs:
    weighted = 0.0
    for val, group in df.groupby(a):
        counts = group[target].value_counts()
        e = entropy(counts.values)
        weighted += len(group)/n*e
    info = parent-weighted
    print(a, "Info gain: ", info)
    info_gain[a] = info

Age Info gain:  0.24674981977443933
Income Info gain:  0.02922256565895487
Gender Info gain:  0.15183550136234159
MaritalStatus Info gain:  0.016111606370189824

In [16]:
root = max(info_gain, key=info_gain.get)
print("\nRoot Node =", root)

Root Node = Age